body {
    background-image: url("cloudy-day/cloudy-day.png");
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #333;
    height: 100vh;
    width: 100vw;
    font-family: 'Concert One', cursive;
}

.title {
    height: 80vh;
    width: 80vw;
    background: #FFF;
    border-radius: 12px;

}

.title-img {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-h1 {
    text-align: center;
}
.title-message {
    text-align: center;
}

.title-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-family: 'Concert One', cursive;
}
